---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---
<!DOCTYPE html>
<html lang="en">
<meta charset=utf-8><meta content="initial-scale=1,width=device-width,viewport-fit=cover" name=viewport><meta name=color-scheme content="dark light">
	
<style>
				
:root {
  --margin: 2.4rem;
  --margin--mobile: 1.8rem;
  --font-size--header: 1.8rem;
  --font-size--header--mobile: 1.6rem;
  
  --line-height: calc(1.3 * var(--font-size--header));
  --font-size--nav: 3.2rem;
  --font-size--nav--mobile: 2.2rem;
  --typography--size: var(--font-size--header);
  --skew: 1.5deg;
  --skew--mobile: .75deg;				
}
			
@media screen and (max-width: 30em) {
  :root {
    --font-size--header: var(--font-size--header--mobile);
    --font-size--nav: var(--font-size--nav--mobile);
    --skew: var(--skew--mobile);
    --margin: var(--margin--mobile);
  }
}

html {
height:100%;
box-sizing: border-box;
}
			
body {				
font-family: "Space Mono", "Fragment Mono", Menlo, Consolas, "Courier New", monospace;
}
			
			
#wrapper {
display: flex;
width: 69vw;
max-width: 750px;
height: 69vw;
max-height: 750px;
position: relative;
padding-top: calc(1.3 * var(--font-size--header));
padding-bottom: calc(1.3 * var(--font-size--header));
margin:auto;
background: #ffffff;
background-image:url('https://i.pinimg.com/originals/ab/f6/84/abf68440b2a5cb3ca4ae07bc64cd0fda.jpg');
background-size:100% auto;
background-position:center;
background-repeat: no-repeat;
aspect-ratio: 1;
transform: skew(var(--skew), var(--skew));
}
			
.textbox {
padding: auto;
margin: auto;
height: 69%;
width: 80%;
background:transparent;
font-size: 69%;
overflow: auto;
text-align: center;
}
			
h1 {
font-family: 'Times New Roman', Garamond, Georgia, serif;
font-size: var(--font-size--header);
line-height: var(--line-height);
-webkit-filter:blur(1px);
filter: blur(0.8px);
}

h2,h3, h4 {
font-family: 'Times New Roman', serif;
-webkit-filter:blur(0.5px);
filter: blur(0.5px);
}
	
ul {
list-style: none;
}

ul li::before {
content: '→';
width: 1.8rem;
margin-left: -1.8rem;
display: inline-block;
}

ul li {
margin-left: 1.8rem;
}

</style>

<body>
	
<div id="wrapper">
<div class="textbox"><h1>KAT ✦ YAN</h1>
<p>
Researcher, writer, internet explorer. <br><br>
</p>
 <h2>elsewhere</h2>
    <ul>
    <li><a href="https://http//read.cv/katyan">cv</a></li><li><a href="mailto:meta@narrative.technology" target="_blank">contact</a></li>
	    <li><a href="https://etherscan.io/address/0x6cFd3272cF940eb94E83A654deAe124Dfc65f681">.eth</a></li>
	 <li>+61 425 267 688</li><li>Naarm/Melbourne, Australia.</li><li>Relocating stateside 2024. </li>
<p><center>
I acknowledge the traditional custodians of the unceded lands of the Wurundjeri, Taungurung, and Gunaikurnai peoples on which I live. I pay my respects to their Elders past and present, and to the oldest continuing cultures on this planet that have nurtured these lands, rivers, mountains, and tides since time immemorial.</center></p>
</div> </div>
</body>
</html>
