---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<meta charset=utf-8><meta content="initial-scale=1,width=device-width,viewport-fit=cover" name=viewport><meta name=color-scheme content="dark light">
	
		
		<style>
				
:root {
  --margin: 2.4rem;
  --margin--mobile: 1.8rem;
  --font-size--header: 1.8rem;
  --font-size--header--mobile: 1.6rem;
  
  --line-height: calc(1.3 * var(--font-size--header));
  --font-size--nav: 3.2rem;
  --font-size--nav--mobile: 2.2rem;
  --typography--size: var(--font-size--header);
  --skew: 1.5deg;
  --skew--mobile: .75deg;				
}
			
			@media screen and (max-width: 30em) {
  :root {
    --font-size--header: var(--font-size--header--mobile);
    --font-size--nav: var(--font-size--nav--mobile);
    --skew: var(--skew--mobile);
    --margin: var(--margin--mobile);
  }
}

			
body {				
font-size: 1.8em;
font-family: "Fragment Mono", SFMono-Regular, Menlo, Consolas, "Liberation Mono", monospace;
-webkit-filter:blur(1px);
			filter: blur(1px);}
			
			
*{
box-sizing: border-box;
}
			
.container{
max-width: 30em;
width: 100%;
margin: 20% auto;
background: #ffffff;
padding: 0 auto;
}

			h1 {
  font-family: 'Times New Roman', serif;
  font-size: var(--font-size--header);
  line-height: var(--line-height);
}
	
			ul {
  list-style: none;
}
ul li::before {
  content: '→';
  width: 2.5rem;
  margin-left: -2.5rem;
  display: inline-block;
}
ul li {
  margin-left: 2.5rem;
}
			
.content-text {
margin: 0 auto;
				position: absolute; 
padding: 18em; 
				overflow: auto;
				text-align: center; 
				}

.cover-photo {
background-image:url(https://i.pinimg.com/originals/ab/f6/84/abf68440b2a5cb3ca4ae07bc64cd0fda.jpg);
max-width: 100%;
		     height: auto;
background-size:cover;
		     background-position:50% 50%;
		     background-repeat: no-repeat;
		     

}
</style>

<body>
<main class="container">
	<div class="cover-photo">
		<div class="content-text">
<h1>KAT ✦ YAN</h1>
<p>
Researcher, writer, internet explorer.
</p>

<p>
 <h2>elsewhere</h2><br>
	    <p><h3>online</h3><br></p>
    <ul>
    <li><a href="https://http//read.cv/katyan">cv</a></li><li><a href="mailto:meta@narrative.technology" target="_blank">contact</a></li>
	    <li><a href="https://etherscan.io/address/0x6cFd3272cF940eb94E83A654deAe124Dfc65f681">.eth</a></li></ul> <p>✦</p>
		    <p><h3>offline</h3><br></p>
 <ul>
 <li>+61 425 267 688</li><br>Naarm/Melbourne, Australia. <br>
I acknowledge the traditional custodians of the unceded lands of the <br>
Wurundjeri, Taungurung, and Gunaikurnai peoples on which I live. <br>
I pay my respects to their Elders past and present, and to the <br>
oldest continuing cultures on this planet that have nurtured <br>
these lands, rivers, mountains, and tides since time immemorial. <br><br><li>Relocating stateside 2024. </li></ul>
</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque explicabo quis saepe consequatur quas officiis voluptas excepturi, id et mollitia ipsa eius dignissimos veritatis impedit possimus quo veniam placeat omnis!</p>
	 </div></div>
	 </main>
	</body>
</html>
