---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<meta charset=utf-8><meta content="initial-scale=1,width=device-width,viewport-fit=cover" name=viewport><meta name=color-scheme content="dark light">
	
		
		<style>
				
body{
font-size: 16px;
font-family: Candara, Trebuchet MS, Arial, Sans-serif;
}
*{
box-sizing: border-box;
}
.container{
max-width: 800px;
width: 100%;
margin: 25px auto;
background: #e3e3e3;
padding: 15px;
}

.cover-photo {
background-image:url(https://i.pinimg.com/originals/ab/f6/84/abf68440b2a5cb3ca4ae07bc64cd0fda.jpg)
max-width: 100%;
background-size:cover;
		     background-position:50% 50%;

}
</style>

<body>
<div class="container">
	<div class="cover-photo">
<h1>KAT ✦ YAN</h1>
<p>
Researcher, writer, internet explorer.
</p>

<p>
 <h2>elsewhere</h2><br>
	    <p><h3>online</h3><br></p>
    <ul>
    <li><a href="https://http//read.cv/katyan">cv</a></li><li><a href="mailto:meta@narrative.technology" target="_blank">contact</a></li>
	    <li><a href="https://etherscan.io/address/0x6cFd3272cF940eb94E83A654deAe124Dfc65f681">.eth</a></li></ul> <p>✦</p>
		    <p><h3>offline</h3><br></p>
 <ul>
 <li>+61 425 267 688</li><br>Naarm/Melbourne, Australia. <br>
I acknowledge the traditional custodians of the unceded lands of the <br>
Wurundjeri, Taungurung, and Gunaikurnai peoples on which I live. <br>
I pay my respects to their Elders past and present, and to the <br>
oldest continuing cultures on this planet that have nurtured <br>
these lands, rivers, mountains, and tides since time immemorial. <br><br><li>Relocating stateside 2024. </li></ul>
</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque explicabo quis saepe consequatur quas officiis voluptas excepturi, id et mollitia ipsa eius dignissimos veritatis impedit possimus quo veniam placeat omnis!</p>
</div>
	 </div>
	</body>
</html>
